.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.back-arrow {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.add-book {
  display: block;
  width: 73px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}